.bg-image{
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#homebg{
    height: 600px;
}
#hometext{
    font-family: "index";
    margin-top: 80px;
}



.textform{
    font-family: "微软雅黑";
}
.alink{
    color: #ffffff;
}
.alinkspan{
    border-bottom-style: solid;
    border-color: #ffffff;
    border-bottom-width: 1px;
    margin-left: 2px;
}
.indexlist{
    margin-bottom: 1.6px;
}
#imgkk{
    height: auto;
}
#indeximg{
    height: 213.75px;
    width: 100%;
}

.indexlistgroup{
    border-style: none;
}













