@font-face {
  font-family: "index";
  src: url("../fonts/FontType.ttf");
}
.panel-body-text{
	height: 278px;
	width: 100%;
	text-overflow: ellipsis;
	overflow:hidden;
	margin-bottom: 8px;
	text-align: auto;
}
.panel-body{
	padding: 10px;
}
.panel-bullhorn-text{
	text-overflow: ellipsis;
	overflow:hidden;	
	white-space: nowrap;
}
.alert{
	padding:5px;margin-bottom:5px;
}
.index-tool{
	padding: 0;
	margin-bottom: 15px;
}
.btn-group-index{
	width: 100%;
}
#searchtext{
	margin-top: 10px;
	margin-bottom: 10px;
}
.glyphicon{
	margin-right: 3px;
}
.pagination{
	margin: 0px;
}
.read-list a {
    color: #555;
    line-height: 28px;
    text-decoration:none;
}
#btn-search{
	background-color: #3D9CCC;
	border-color: #3D9CCC;
	color: #ffffff;
}
