.read-comment .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #563D7C;
    background-color: #F5F6F7;
}
.read-comment .nav > li > a {
    display: inline;
}
.read-header{
	margin: 1px 0px;
}
.read-comment .nav-pills > li > a:hover, .nav-pills > li > a:focus {
    color: #563D7C;
    background-color: #F5F6F7;
}
.readfrom{
	font-family: 微软雅黑,宋体;
}
.read-img{
	height: 64px;
	width: 64px;
}
.read-media{
	border-bottom: 1px dashed #CCC;
}
.read-value-time{
	float: left;
	color: #999;
}
.read-value-value{
	float: right;
	color: #999;
}
.read-value-value > a{
	color: #999;
	margin-right: 20px;
	text-decoration:none;
}
.read-a > a {
    text-decoration:none;
}
.read-text{
	color: #333;
	margin-top: 10px;
	margin-bottom: 10px;
}